* {
  padding: 0;
  margin: auto;
  box-sizing: border-box;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 15px;
}

body {
  width: 100%;
  min-width: 100vh;
  background-color: white;
  margin: 0;
  padding: 320px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
}

.headerSite {
  display: flex;
  justify-content: center;
  align-items: center;
}

.firstElement {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  text-align: left;
}

h1 {
  display: flex;
  margin-top: 20px;
  font-size: 23px;

}

.mainNews {
  display: flex;
  align-items: flex-end;
  font-size: 14px;
  padding: 0, 25rem;
}

.origin {
  color: grey;
}

.newBlock {
  display: flex;
  justify-content: center;
  text-align: left;
  align-items: center;
  padding: 1rem;
}

.secondNews {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 290px;
  align-items: center;
  padding: 1rem 1.5rem;
}

.textSecondaryNews {
  display: flex;
  align-items: flex-start;
  margin-top: 10px;
  font-size: 17px;
  font-weight: bold;
  padding: 1ch;
}

.firstElement {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}

.textThirdNews {
  display: flex;
  align-items: flex-start;
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
  padding: 1ch;
}


.mainFooter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
  gap: 25px;
}

.mainFooter p {
  font-size: 14px;
  font-weight: lighter;
}

 .fonte{
  text-align: left;
  color: grey;
}

@media only screen and (max-width: 600px) {

  body,
  .mainNews .mainFooter {
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 0 0 0 0;
  }

  img {
    width: 100%;

  }

  .newBlock {
    display: flex;
    flex-direction: column;
  }

  .firstnew {
    display: flex;
    align-items: flex-start;
    gap: .30em;
    max-width: 90%;
    font-size: 11px;

  }
}